[tools]
python="3.11"

[env]
_.python.venv = { path = ".venv", create = true }

[tasks.clean]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

rm -rf "build"
"""

[tasks.build]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

pip install -r requirements.txt
mkdir -p "build"

".venv/bin/ansible-galaxy" \
    collection build \
    --output-path "build" \
    --force \
    --verbose \
    "blcks/utils"
"""

[tasks.release-prepare]
run="""
blcks docs ansible --collection "blcks/utils" --target "${BLCKS_ROOT}/doc/content/ansible/utils"
"""

[tasks.test]
run="#TODO"

[tasks.format]
run="#TODO"

[tasks.preflight-check]
run = [
    { task = "clean" },
    { task = "format" },
    { task = "build" },
    { task = "test" },
]

