[env]
TESTCONTAINER_IMAGES="debian-10 debian-11 debian-12 ubuntu-20.04 ubuntu-22.04 ubuntu-24.04"

[tasks.clean]
run = "rm -rf build"

[tasks.build]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):assemble"

[tasks.format]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):spotlessApply"

[tasks.test]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):check"
