<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card" style="border-radius: 1rem;">
        <div class="card-body p-5">

          <h2 class="fw-bold mb-2 text-uppercase">Login</h2>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <input-control [form]="form" [messages]="messages" formControlName="email" ></input-control>
            <input-control [form]="form" type="password" [messages]="messages" formControlName="password" ></input-control>

            <button class="btn btn-outline-info btn-lg px-5" [disabled]="!form.valid" type="submit">Login
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


