---
# cilium {{ cilium_version }}

{% if cilium_pod_annotations is defined  %}
podAnnotations:
  {{ cilium_pod_annotations | to_nice_yaml | indent(width=2) }}
{% endif %}

operator:
  replicas: 2
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
routingMode: native
k8sServiceHost: {{ k3s_api_endpoint }}
k8sServicePort: 6443
ipv4NativeRoutingCIDR: {{ network_cidr }}

ipam:
  mode: {{ cilium_ipam_mode }}
#  operator:
#    clusterPoolIPv4PodCIDRList: {{ cluster_cidr }}

policyEnforcementMode: never

autoDirectNodeRoutes: true
kubeProxyReplacement: true
directRoutingSkipUnreachable: true
nodePort:
  enabled: true # https://docs.cilium.io/en/latest/network/servicemesh/ingress/#prerequisites
ingressController:
  enabled: true
  loadbalancerMode: shared
  enableProxyProtocol: true
  hostNetwork:
    enabled: true # https://docs.cilium.io/en/latest/network/servicemesh/ingress/#gs-ingress-host-network-mode
    sharedListenerPort: 8080
  externalTrafficPolicy: Local
  service:
    externalTrafficPolicy: null
    type: ClusterIP
  loadBalancer:
    l7:
      backend: envoy

resources:
  requests:
    cpu: 250m
    memory: 512Mi

envoy:
  resources:
    requests:
      cpu: 150m
      memory: 128Mi
  log:
    accessLogBufferSize: 32768

#debug:
#  enabled: true
#  verbose: envoy

{% if cilium_hubble_export_allow_list is defined and cilium_hubble_export_allow_list | length > 0 %}
hubble:
  export:
    static:
      enabled: true
      filePath: stdout
      allowList:
        {{ cilium_hubble_export_allow_list | to_nice_yaml | indent(width=8) }}
{% endif %}
