.idea/
*.iml
*.ipr
*.iws
.bin/
.cache/
/doc/public/
/doc/.hugo_build.lock
.tmp/
solidblocks-shell-*.zip
.gradle
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
build
*.pem
/solidblocks-shell/documentation/minimal-skeleton/solidblocks-shell/
/solidblocks-shell/documentation/bootstrap_solidblocks
/doc/generated/
venv
__pycache__
.terraform.tfstate.lock.info
/solidblocks-cloud-init/test/terraform/test_id_rsa
/solidblocks-cloud-init/test/terraform/test_id_rsa.pub
/solidblocks-cloud/test/terraform/ssh_config.template
