todo-application/todo-backend-spring-boot-jooq/target/
.idea/
.gradle/
*.iml
*.ipr
*.iws
build
.bin
.temp
venv
__pycache__

solidblocks-root-infrastructure/**/.terraform.lock.hcl
solidblocks-root-infrastructure/**/.terraform
solidblocks-root-infrastructure/**/terraform.tfstate
solidblocks-root-infrastructure/**/terraform.tfstate.backup

!terraform-state
derby.log
/solidblocks-service-base-integrationtest/bootstrap/artefacts/
/solidblocks-service-base-integrationtest/test/
/solidblocks-service-base-integrationtest/src/test/resources/service-integrationtest/bootstrap/artefacts/
