.idea/
*.iml
*.ipr
*.iws
.bin/
.cache/
/doc/public/
/doc/.hugo_build.lock
.tmp/
solidblocks-shell-*.zip
.gradle
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
build
*.pem
.temp*
/doc/snippets/
venv
__pycache__
.terraform.tfstate.lock.info
/solidblocks-hetzner/test/terraform/ipv4_address
/solidblocks-hetzner/test/terraform/jumphost_ipv4_address
doc/generated/
solidblocks-hetzner/modules/rds-postgresql/cloud_init_bootstrap_solidblocks
/**/test-*_ssh_config
/**/test-*_id_rsa
/**/test-*_id_rsa.pub
/**/ssh_config
/**/test_id_rsa
/**/test_id_rsa.pub
.test_*/
solidblocks-cloud-init/modules/solidblocks-cloud-init/solidblocks-cloud-init-bootstrap.sh.template
solidblocks-cloud-init/modules/solidblocks-cloud-init/cloud-init-bootstrap.sh
solidblocks-cloud-init/modules/solidblocks-cloud-init/cloud-init-header.sh
solidblocks-hetzner/modules/rds-postgresql/solidblocks-cloud-init-bootstrap.sh
solidblocks-cloud-init/modules/solidblocks-cloud-init/solidblocks-cloud-init-bootstrap.sh
