experimental_monorepo_root = true

[monorepo]
config_roots = [
    "*",
]

[tools]
hugo = "latest"
terraform="1.14.5"
terraform-docs="0.21.0"
rg="15.1.0"
java="25.0.0"

[env]
CONFIG_ROOT="{{config_root}}"
ROOT_PROJECT="{{config_root}}"
#VERSION="{{ exec(command='lib/version.sh') }}"
#VERSION_RAW="{{ exec(command='lib/version_raw.sh') }}"

VERSION_RAW = "{{ get_env(name='VERSION_RAW', default=exec(command='./lib/version_raw.sh')) }}"
VERSION = "{{ get_env(name='VERSION', default=exec(command='./lib/version.sh')) }}"

DOCKER_REGISTRY="ghcr.io"
DOCKER_REPOSITORY="pellepelster"

[tasks.documentation-build]
dir = "build/documentation"
run = """
    #!/usr/bin/env bash
    source {{config_root}}/lib/utils.sh
    documentation_prepare_files
    documentation_prepare_env
    hugo --minify --gc
"""

[tasks.documentation-serve]
dir = "build/documentation"
run = """
    #!/usr/bin/env bash
    source {{config_root}}/lib/utils.sh
    documentation_prepare_files
    documentation_prepare_env
    hugo serve --baseURL /
"""