experimental_monorepo_root = true

[monorepo]
config_roots = [
    "*",
]

[tools]
hugo = "latest"
terraform="1.14.5"
terraform-docs="0.21.0"
rg="15.1.0"
java="25.0.0"
go="1.26.0"

[env]
CONFIG_ROOT="{{config_root}}"
ROOT_PROJECT="{{config_root}}"
VERSION = """
{%- if os() == 'windows' -%}
    {%- if get_env(name='VERSION', default='none') == 'none' -%}
        "0.0.0"
    {%- else -%}
        {{ get_env(name='VERSION') }}
    {%- endif -%}
{%- else -%}
    {%- if get_env(name='VERSION', default='none') == 'none' -%}
        {{ get_env(name='VERSION', default=exec(command='./lib/version.sh')) }}
    {%- else -%}
        {{ get_env(name='VERSION') }}
    {%- endif -%}
{%- endif -%}
"""

DOCKER_API_VERSION = "1.52"

DOCKER_REGISTRY="ghcr.io"
DOCKER_REPOSITORY="pellepelster"

[tasks.documentation-build]
dir = "build/documentation"
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source {{config_root}}/lib/utils.sh
documentation_prepare_files
documentation_prepare_env
hugo --minify --gc
"""

[tasks.documentation-serve]
dir = "build/documentation"
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source {{config_root}}/lib/utils.sh
documentation_prepare_files
documentation_prepare_env
hugo serve --baseURL /
"""

[tasks.info]
run = """
  echo "version: '${VERSION}'"
"""

[tasks.release-check]
usage = """
arg "<version>"
"""
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source mise.sh

echo "checking version: ${usage_version}"
task_release_check ${usage_version}
"""

[tasks.release]
usage = """
arg "<version>"
"""
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source mise.sh

task_release ${usage_version}
"""
