experimental_monorepo_root = true

[monorepo]
config_roots = [
    "*",
]

[tools]
hugo = "latest"
terraform="1.14.5"
terraform-docs="0.21.0"
rg="15.1.0"
java="25.0.0"
go="1.26.0"

[env]
ROOT_PROJECT="{{config_root}}"
GRADLE_OPTS="--enable-native-access=ALL-UNNAMED"
VERSION = """
{%- if get_env(name='GITHUB_REF', default='none') == 'none' -%}
    {%- if os() == 'windows' -%}
        {%- if get_env(name='VERSION', default='none') == 'none' -%}
            "0.0.0"
        {%- else -%}
            {{ get_env(name='VERSION') }}
        {%- endif -%}
    {%- else -%}
        {%- if get_env(name='VERSION', default='none') == 'none' -%}
            {{ get_env(name='VERSION', default=exec(command='./lib/version.sh')) }}
        {%- else -%}
            {{ get_env(name='VERSION') }}
        {%- endif -%}
    {%- endif -%}
{%- else -%}
    {%- set github_ref = get_env(name='GITHUB_REF') -%}
    {%- if github_ref is starting_with("refs/tags/") -%}
        {{ github_ref | trim_start_matches(pat="refs/tags/v") }}
    {%- else -%}
        0.0.0
    {%- endif -%}
{%- endif -%}
"""

DOCKER_API_VERSION = "1.52"

DOCKER_REGISTRY="ghcr.io"
DOCKER_REPOSITORY="pellepelster"

[tasks.documentation-build]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source ${ROOT_PROJECT}/lib/utils.sh
mkdir -p ${ROOT_PROJECT}/build/documentation/
documentation_prepare_files
documentation_prepare_env
(
    cd doc
    hugo --minify --gc
    cp -rv public ${ROOT_PROJECT}/build/documentation/
)
"""

[tasks.documentation-serve]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source ${ROOT_PROJECT}/lib/utils.sh
documentation_prepare_files
documentation_prepare_env
(
    cd doc
hugo serve --baseURL /
)
"""

[tasks.info]
run = """
echo "   VERSION: '${VERSION}'"
echo "SKIP_TESTS: '${SKIP_TESTS}'"
echo "BUILD_FAST: '${BUILD_FAST}'"
"""

[tasks.release-check]
usage = """
arg "<version>"
"""
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source mise.sh

echo "checking version: ${usage_version}"
task_release_check ${usage_version}
"""

[tasks.release]
usage = """
arg "<version>"
"""
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source mise.sh

task_release ${usage_version}
"""

[tasks.clean-aws]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source mise.sh

task_clean_aws
"""
