# TYPE  DATABASE        USER                            ADDRESS                 METHOD
local   all             {{ .Env.DB_ADMIN_USERNAME }}                            trust
host    all             {{ .Env.DB_USERNAME }}          0.0.0.0/0               md5
