[tasks.clean]
run = "rm -rf build"

[tasks.build]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

if [[ -n "${CI:-}" ]]; then
  cp ${MISE_CONFIG_ROOT}/../solidblocks-cloud-init/blcks-cloud-init-bootstrap.sh "${MISE_CONFIG_ROOT}/modules/rds-postgresql/blcks-cloud-init-bootstrap.sh" ||  { log_die "required artifacts not found, please build solidblocks-cloud-init first"; exit 1; }
else
  cp ${MISE_CONFIG_ROOT}/../solidblocks-cloud-init/build/blcks-cloud-init-bootstrap.sh "${MISE_CONFIG_ROOT}/modules/rds-postgresql/blcks-cloud-init-bootstrap.sh" ||  { log_die "required artifacts not found, please build solidblocks-cloud-init first"; exit 1; }
fi


mkdir -p "${MISE_CONFIG_ROOT}/build/snippets"
(
    cd "${MISE_CONFIG_ROOT}/snippets"
    zip -r "${MISE_CONFIG_ROOT}/build/snippets/blcks-terraform-rds-postgresql-hetzner-snippet-s3-backup-${VERSION}.zip" hetzner-postgres-rds-s3-backup/**/*.tf
    zip -r "${MISE_CONFIG_ROOT}/build/snippets/blcks-terraform-rds-postgresql-hetzner-snippet-local-backup-${VERSION}.zip" hetzner-postgres-rds-s3-backup/**/*.tf
    zip -r "${MISE_CONFIG_ROOT}/build/snippets/blcks-terraform-rds-postgresql-hetzner-snippet-private-network-${VERSION}.zip" hetzner-postgres-rds-private-network/**/*.tf
    zip -r "${MISE_CONFIG_ROOT}/build/snippets/blcks-terraform-rds-postgresql-hetzner-snippet-s3-backup-${VERSION}.zip" hetzner-postgres-rds-hetzner-s3-backup/**/*.tf
)

terraform-docs markdown table "${MISE_CONFIG_ROOT}/modules/rds-postgresql" --hide modules --output-file "${MISE_CONFIG_ROOT}/modules/rds-postgresql/README.md"
terraform-docs markdown table "${MISE_CONFIG_ROOT}/modules/rds-postgresql" --hide modules --output-file "${MISE_CONFIG_ROOT}/../doc/content/hetzner/rds/_index.md"

(
  cd "${MISE_CONFIG_ROOT}/modules/rds-postgresql"
  zip -r "${MISE_CONFIG_ROOT}/build/blcks-terraform-rds-postgresql-hetzner-${VERSION}.zip" *
)
"""


[tasks.test-restore-local-deploy]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_restore_from_local_deploy
"""

[tasks.test-restore-local-run]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_restore_from_local_run
"""

[tasks.test-restore-local-destroy]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_restore_from_local_destroy
"""

[tasks.test-restore-local]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_restore_from_local
"""

[tasks.test-restore-s3]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_restore_from_s3
"""

[tasks.test-restore-gcp]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_restore_from_gcp
"""

[tasks.test-private-network]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_private_network
"""

[tasks.test-migration]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_migration
"""

[tasks.test-encryption]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_encryption
"""

[tasks.test-arm]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_arm
"""

[tasks.test-ssl]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_ssl
"""

[tasks.test-ssh]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_ssh
"""

[tasks.test-jumphost-ssh]
run="""
#!/usr/bin/env bash
set -eu -o pipefail

source ${MISE_CONFIG_ROOT}/mise.sh
task_test_jumphost_ssh
"""
