[Unit]
Description={{ service_name }} postgres database server
Documentation=man:postgres(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=postgres
ExecStart=/usr/lib/postgresql/{{ postgres_version }}/bin/postgres -D {{ data_dir }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=infinity
{% if extra_environment_vars is not none %}
{% for key, value in extra_environment_vars.items() %}
Environment="{{key}}={{value | replace('<data_dir>', data_dir)}}"
{% endfor %}
{% endif %}

# prevent OOM killer from choosing the postmaster (individual backends will
# reset the score to 0)
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
