Host test-x86
    HostName ${hostname-x86}
    User root
    IdentityFile ${identity_file}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host test-arm
    HostName ${hostname-arm}
    User root
    IdentityFile ${identity_file}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

