[tools]
poetry="2.3.2"

[tasks.build]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

poetry version "${VERSION}"
poetry install
poetry build -vvv --clean --output=build
mv build/blcks_do-*.tar.gz build/blcks_do-v${VERSION}.tar.gz
mv build/blcks_do-*-py3-none-any.whl build/blcks_do-v${VERSION}-py3-none-any.whl
"""

[tasks.test]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

export NON_EXISTING_OVERRIDE="non_existing_override"
export CUSTOM_ENV_NAME="custom_env_name"
export OVERRIDE_PASSWORD="override_password"

poetry install
poetry run pytest -s
"""

[tasks.format]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

terraform fmt -recursive
"""

[tasks.clean]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

rm -rf build
rm -rf tests/terraform/*.terraform*
rm -rf tests/terraform/*.tfstate*
rm -rf tests/tofu/.terraform*
rm -rf tests/tofu/.tfstate*
"""

[tasks.preflight-check]
run = [
    { task = "clean" },
    { task = "format" },
    { task = "build" },
    { task = "test" },
]


