[env]
TESTCONTAINER_IMAGES="debian-10 debian-11 debian-12 ubuntu-20.04 ubuntu-22.04 ubuntu-24.04"

[tasks.clean]
run = "rm -rf build"

[tasks.build]
run = """
#TODO move to gradle build generate task
docker run  -v $(pwd):/src hairyhenderson/gomplate:stable -d "vendors=https://raw.githubusercontent.com/watson/ci-info/master/vendors.json?type=application/array+json" -f /src/lib-templates/ci.sh.template > "lib/ci.sh"
${ROOT_PROJECT}/gradlew :$(basename $PWD):assemble
"""

[tasks.format]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):spotlessApply"

[tasks.test]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):check"