# TYPE  DATABASE        USER                            ADDRESS                 METHOD
local   all             {{ .Env.DB_ADMIN_USERNAME }}                            trust
host    all             all                             0.0.0.0/0               md5
