listen_addresses = '*'

archive_command = 'pgbackrest --stanza={{ stanza_name }} archive-push %p'
archive_mode = on
max_wal_senders = 3
wal_level = replica

dynamic_shared_memory_type = posix

log_timezone = 'Etc/UTC'
datestyle = 'iso'
timezone = 'Etc/UTC'

shared_preload_libraries = 'pg_stat_statements{% if extension_pglogical_enabled %},pglogical{% endif %}{% if extension_pgaudit_enabled %},pgaudit{% endif %}'

{% if extra_configuration is not none %}
{% for key, value in extra_configuration.items() %}
{{key}} = {{value}}
{% endfor %}
{% endif %}