[tasks.clean]
run = "rm -rf build"

[tasks.build]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):assemble"

[tasks.format]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):spotlessApply"

[tasks.test]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):check"


[tasks.release-test]
usage = """
arg "<version>"
"""
run = """
#!/usr/bin/env bash
set -eu -o pipefail

curl -L "https://github.com/pellepelster/solidblocks/releases/download/v${usage_version}/blcks-cloud-init-bootstrap-v${usage_version}.sh" -o "/tmp/blcks-cloud-init-bootstrap-v${usage_version}.sh"
chmod +x "/tmp/blcks-cloud-init-bootstrap-v${usage_version}.sh"
docker run -v "/tmp/blcks-cloud-init-bootstrap-v${usage_version}.sh:/blcks-cloud-init-bootstrap.sh" debian:bookworm /bin/bash -c /blcks-cloud-init-bootstrap.sh
"""

[tasks.preflight-check]
run = [
    { task = "clean" },
    { task = "format" },
    { task = "build" },
    { task = "test" },
]
