[tools]
python="3.11"

[env]
_.python.venv = { path = ".venv", create = true }

[tasks.build]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

pip install -r requirements.txt
mkdir -p "${MISE_CONFIG_ROOT}/build"

for module in "network-hetzner" "network-loadbalancer-hetzner" "nodes-hetzner" "nodes-ssh-hetzner" "output-ansible" "output-ansible-hetzner" "output-ssh-config"; do
    (
      cd "${MISE_CONFIG_ROOT}/terraform/${module}"
      tar -czf "${MISE_CONFIG_ROOT}/build/blcks-k3s-terraform-${module}-v${VERSION}.tar.gz" .
    )
    terraform-docs markdown table --hide modules --output-mode inject --output-file "${MISE_CONFIG_ROOT}/../doc/content/k3s/terraform/${module}.md" "${MISE_CONFIG_ROOT}/terraform/${module}"
done

".venv/bin/ansible-galaxy" \
    collection build \
    --output-path "${MISE_CONFIG_ROOT}/build" \
    --force \
    --verbose \
    "${MISE_CONFIG_ROOT}/ansible/blcks/k3s"

"""

[tasks.format]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

terraform fmt -recursive
"""

[tasks.test-integration]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source mise.sh

if [[ "${SKIP_TESTS:-}" =~ .*integration.* ]]; then
    echo "skipping integration tests"
    exit 0
fi

task_test_terraform
task_test_ansible
task_test_helm
curl --fail hello-world-cluster1.blcks.de &> /dev/null
"""

[tasks.test-integration-dual]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

source mise.sh

if [[ "${SKIP_TESTS:-}" =~ .*integration.* ]]; then
    echo "skipping integration tests"
    exit 0
fi

task_test_dual_terraform
task_test_dual_ansible
task_test_dual_helm
curl --fail hello-world.cluster1-blue.blcks.de &> /dev/null
curl --fail hello-world.cluster1-green.blcks.de &> /dev/null
"""

[tasks.clean]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

rm -rf build
"""

[tasks.release-prepare]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

rg -e '^(version: )(.*)$' "ansible/blcks/k3s/galaxy.yml" --replace "\\${1}"${VERSION}"\\${3}" --passthru --no-filename  --no-line-number --color never > "ansible/blcks/k3s/galaxy.yml.tmp"
mv "ansible/blcks/k3s/galaxy.yml.tmp" "ansible/blcks/k3s/galaxy.yml"
blcks docs ansible --collection "ansible/blcks/k3s" --target ${ROOT_PROJECT}/doc/content/ansible/k3s
"""

[tasks.preflight-check]
run = [
    { task = "clean" },
    { task = "format" },
    { task = "build" },
    { task = "test-integration" },
    { task = "test-integration-dual" },
]
