---
servers:
    hosts:
        %{~ for server in servers ~}
        ${server.name}:
            ansible_host: ${server.name}
            ansible_ssh_common_args: "-F ${ssh_config_file}"
        %{~ endfor ~}
agents:
    hosts:
        %{~ for agent in agents ~}
        ${agent.name}:
            ansible_host: ${agent.name}
            ansible_ssh_common_args: "-F ${ssh_config_file}"
        %{~ endfor ~}
