Host *
    User root
    IdentityFile ${client_identity_file}
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking accept-new
    IdentitiesOnly yes


%{ for server in servers ~}
Host ${server.name}
    Hostname ${server.ipv4_address}
%{ endfor ~}

%{ for agent in agents ~}
Host ${agent.name}
    Hostname ${agent.ipv4_address}
%{ endfor ~}
