#!/usr/bin/env bash

set -eu -o pipefail

apt-get -y install git make gcc postgresql-server-dev-{{ postgres_version }}
git clone https://github.com/sraoss/pg_ivm.git /tmp/pg_ivm
cd /tmp/pg_ivm && make install
apt-get -y remove make gcc postgresql-server-dev-{{ postgres_version }}
rm -rf /tmp/pg_ivm
