#!/usr/bin/env bash

set -eu -o pipefail

apt-get -y install git make gcc postgresql-server-dev-{{ postgres_version }}
git clone --branch v0.8.0 https://github.com/pgvector/pgvector.git /tmp/pgvector
cd /tmp/pgvector && make && make install
apt-get -y remove make gcc postgresql-server-dev-{{ postgres_version }}
rm -rf /tmp/pgvector
