[tools]
graalvm = "24.0.2"

[tasks.build-native]
usage = '''
arg "<target>" help="target platform" {
  choices "linux-amd64" "darwin-amd64" "darwin-arm64" "windows-amd64"
}
'''
run = """
#!/usr/bin/env bash
set -eu -o pipefail

BUILD_TARGET="${BUILD_TARGET:-linux-amd64}"
GRADLE_OPTIONS=""

if  [[ ${BUILD_TARGET} == "windows-amd64" ]]; then
  choco install zip
  GRADLE_OPTIONS="--stacktrace"
else
  export GRAALVM_HOME=${XDG_DATA_HOME:-$HOME/.local/share}/mise/installs/graalvm/24.0.2/
fi

${CONFIG_ROOT}/gradlew ${GRADLE_OPTIONS} :solidblocks-cli:nativeCompile

rm -rf blcks
cp build/native/nativeCompile/blcks* blcks
chmod +x blcks
zip --junk-paths "build/blcks-cli-${BUILD_TARGET}-${VERSION}.zip" blcks
"""

[tasks.build-jvm-all]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

${CONFIG_ROOT}/gradlew :$(basename $PWD):distZip :$(basename $PWD):distTar
rm -rf "build/blcks" || true
mkdir -p "build/blcks"
(
    cd "build/blcks"
    tar -xvf "../distributions/blcks-${VERSION#v}.tar" --strip-components=1
)
(
  cd "build"
  zip -vr "blcks-cli-jvm-all-${VERSION}.zip" ./blcks
)
"""

[tasks.clean]
run = "rm -rf build"
