[tools]
graalvm = "24.0.2"

[tasks.build-native]
usage = '''
arg "<target>" help="target platform" default="linux-amd64" {
  choices "linux-amd64" "darwin-amd64" "darwin-arm64" "windows-amd64"
}
'''
run = """
#!/usr/bin/env bash
set -eu -o pipefail

BUILD_TARGET="${BUILD_TARGET:-linux-amd64}"
GRADLE_OPTIONS=""

if  [[ ${BUILD_TARGET} == "windows-amd64" ]]; then
  choco install zip
  GRADLE_OPTIONS="--stacktrace"
else
  #export GRAALVM_HOME=${XDG_DATA_HOME:-$HOME/.local/share}/mise/installs/graalvm/24.0.2/
  #export GRAAL_VM_HOME=${XDG_DATA_HOME:-$HOME/.local/share}/mise/installs/graalvm/24.0.2/
  export JAVA_HOME=${XDG_DATA_HOME:-$HOME/.local/share}/mise/installs/graalvm/24.0.2/
fi

${ROOT_PROJECT}/gradlew ${GRADLE_OPTIONS} :solidblocks-cli:nativeCompile

rm -rf blcks
cp build/native/nativeCompile/blcks* blcks
chmod +x blcks
zip --junk-paths "build/blcks-cli-${BUILD_TARGET}-v${VERSION}.zip" blcks
"""

[tasks.build-jvm-all]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

${ROOT_PROJECT}/gradlew :$(basename $PWD):distZip :$(basename $PWD):distTar
rm -rf "build/blcks" || true
mkdir -p "build/blcks"
(
    cd "build/blcks"
    tar -xvf "../distributions/blcks-${VERSION}.tar" --strip-components=1
)
(
  cd "build"
  zip -vr "blcks-cli-jvm-all-v${VERSION}.zip" ./blcks
)
"""

[tasks.clean]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

rm -rf build
rm -rf blcks
"""

[tasks.install-local]
depends = ["build-native"]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

cp blcks ~/bin/blcks
"""

[tasks.test-integration-prepare]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

if [[ "${SKIP_TESTS:-}" =~ .*integration.* ]]; then
    echo "skipped integration tests"
    exit 0
fi

export HCLOUD_TOKEN="${HCLOUD_TOKEN:-$(pass solidblocks/hetzner/test/hcloud_api_token)}"

cd "test/terraform"
terraform init -upgrade
terraform apply -auto-approve
"""

[tasks.test-integration]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

if [[ "${SKIP_TESTS:-}" =~ .*integration.* ]]; then
    echo "skipped integration tests"
    exit 0
fi

source mise.sh
task_test_hetzner_nuke
"""

[tasks.test]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):check"

[tasks.build]
depends=["build-jvm-all", "build-native"]

[tasks.format]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):spotlessApply"

[tasks.release-test]
usage = """
arg "<version>"
"""
run = """
#!/usr/bin/env bash
set -eu -o pipefail

TEMP_DIR=".release_test"
rm -rf ${TEMP_DIR}

for arch in linux-amd64 darwin-amd64 darwin-arm64 windows-amd64 jvm-all; do
    rm -rf "${TEMP_DIR}/${arch}"
    mkdir -p "${TEMP_DIR}/${arch}"
    (
        cd "${TEMP_DIR}/${arch}"
        curl -L "https://github.com/pellepelster/solidblocks/releases/download/v${usage_version}/blcks-cli-${arch}-v${usage_version}.zip" -o "blcks-cli-${arch}-v${usage_version}.zip"
        unzip -o blcks-cli-${arch}-v${usage_version}.zip

        if [[ "${arch}" == "linux-amd64" ]]; then
            ./blcks --help
        fi

        if [[ "${arch}" == "jvm-all" ]]; then
            ./blcks/bin/blcks
        else
            test -f ./blcks
        fi
    )
done

#rm -rf ${TEMP_DIR}
"""

[tasks.preflight-check]
run = [
    { task = "clean" },
    { task = "format" },
    { task = "build" },
    { task = "test" },
    { task = "test-integration-prepare" },
    { task = "test-integration" },
]

[tasks.preflight-check-native]
run = [
    { task = "build-native" },
    { task = "preflight-check-native-run" },
]

[tasks.preflight-check-native-run]
run="""
export HCLOUD_TOKEN=$(pass solidblocks/hetzner/test/hcloud_api_token)
./blcks cloud apply contrib/test1.yml
"""

[tasks.debug]
run="""
java --version
mkdir .tmp || true
cd .tmp
#export JAVA_HOME=$GRAAL_HOME
#export JAVA_OPTS="-agentlib:native-image-agent=config-output-dir=traces"
#unzip -o ../build/distributions/blcks-0.0.0.zip
./blcks-0.0.0/bin/blcks cloud apply ../contrib/test1.yml
"""

[tasks.debug1]
run="""
export JAVA_HOME=${XDG_DATA_HOME:-$HOME/.local/share}/mise/installs/graalvm/24.0.2/

../gradlew -Pagent run --args="cloud apply contrib/test1.yml"
"""
