[env]
TESTCONTAINER_IMAGES="debian-10 debian-11 debian-12 ubuntu-20.04 ubuntu-22.04 ubuntu-24.04"

[tasks.clean]
run = "rm -rf build"

[tasks.build]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):assemble"

[tasks.format]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):spotlessApply"

[tasks.test]
run = "${ROOT_PROJECT}/gradlew :$(basename $PWD):check"

[tasks.test-prepare]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

for image in ${TESTCONTAINER_IMAGES} do
(
  cd "docker/${image}"
  docker build ${DOCKER_OPTIONS} -t "${DOCKER_REGISTRY}/${DOCKER_REPOSITORY}/solidblocks-test-${image}" -f "Dockerfile" .
  docker push "${DOCKER_REGISTRY}/${DOCKER_REPOSITORY}/solidblocks-test-${image}"
)
done
"""

[tasks.release-prepare]
usage = """
arg "<version>"
"""
run = """
#!/usr/bin/env bash
set -eu -o pipefail

echo "setting version: ${usage_version}"
mkdir -p ".tmp"
rg -e '^(.*testImplementation\\("de\\.solidblocks:infra-test:)(.*)("\\)).*$' "snippets/solidblocks-test-gradle/build.gradle.kts" --replace "\\${1}${usage_version}\\${3}" --passthru --no-filename  --no-line-number --color never > ".tmp/build.gradle.kts"
mv ".tmp/build.gradle.kts" "snippets/solidblocks-test-gradle/build.gradle.kts"
rm -rf .tmp
"""

[tasks.release-artifacts]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

export ORG_GRADLE_PROJECT_signingInMemoryKey="${ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEY:-$(pass solidblocks/signing_key)}"
export ORG_GRADLE_PROJECT_signingInMemoryKeyPassword="${ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYPASSWORD:-$(pass solidblocks/signing_key_password)}"
export ORG_GRADLE_PROJECT_mavenCentralUsername="${ORG_GRADLE_PROJECT_MAVENCENTRALUSERNAME:-$(pass maven/central-portal/user-token/username)}"
export ORG_GRADLE_PROJECT_mavenCentralPassword="${ORG_GRADLE_PROJECT_MAVENCENTRALPASSWORD:-$(pass maven/central-portal/user-token/password)}"

${ROOT_PROJECT}/gradlew :$(basename $PWD):publishAllPublicationsToMavenCentralRepository
"""