[global]

repo1-path={{ .Env.BACKUP_DIR }}
repo1-retention-full=2

log-level-console=info
log-level-file=debug
start-fast=y
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass=acbd

[{{ .Env.DB_DATABASE }}]
pg1-path={{ .Env.DATA_DIR }}