[tools]
python="3.11"

[env]
_.python.venv = { path = ".venv", create = true }

[tasks.build]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

mkdir -p "${MISE_CONFIG_ROOT}/build"
".venv/bin/ansible-galaxy" \
    collection build \
    --output-path "${MISE_CONFIG_ROOT}/build" \
    --force \
    --verbose \
    "${MISE_CONFIG_ROOT}/ansible/blcks/rds_postgresql"
"""

[tasks.test-integration]
run = """
#!/usr/bin/env bash
set -eu -o pipefail
"""

