[tools]

[env]
DOCKER_IMAGE_NAME="solidblocks-debug-container"
DOCKER_OPTIONS="--push"

[tasks.build]
run = """
#!/usr/bin/env bash
set -eu -o pipefail

${ROOT_PROJECT}/gradlew :$(basename $PWD):assemble

docker buildx build \
  --build-arg VERSION=${VERSION} \
  --platform linux/amd64 \
  ${DOCKER_OPTIONS} \
  --tag "${DOCKER_REGISTRY}/${DOCKER_REPOSITORY}/${DOCKER_IMAGE_NAME}:${VERSION}-snapshot" \
  --tag "${DOCKER_REGISTRY}/${DOCKER_REPOSITORY}/${DOCKER_IMAGE_NAME}:snapshot" \
  .
"""

[tasks.test]
run = """
#!/usr/bin/env bash
set -eu -o pipefail
# TODO fix tests
exit 0

${ROOT_PROJECT}/gradlew :$(basename $PWD):test --stacktrace
"""

